# <center> STRINGS IN PYTHON </CENTER>
Strings are sequence of characters enclosed within single quotes(''), double("") or triple quotes (''' ''')

In [1]:
s1='Hello, Python!'
s1

'Hello, Python!'

In [2]:
type(s1)

str

In [4]:
s1="Hello, Python World!"
s1

'Hello, Python World!'

In [5]:
type(s1)

str

In [6]:
s1="""This is python programming language."""
s1

'This is python programming language.'

In [7]:
type(s1)

str

# Extracting Individual Characters:
We use indexing to extract individual character from the string. Indexing always starts from the zero.

In [13]:
my_string="My name is Muqaddas"
my_string[0] # positive indexing

'M'

In [14]:
my_string[-1] # Negative indexing

's'

In [15]:
my_string[4]

'a'

# Substring:

In [16]:
my_string[11:]

'Muqaddas'

In [17]:
my_string[3:6]

'nam'

# <center> STRING FUNCTIONS </CENTER>
In Strings, different kinds of fucntions are used for different purposes. These are built-in functions. These are as follows:

# Length:

In [18]:
my_string

'My name is Muqaddas'

In [19]:
len(my_string)

19

In [40]:
word="OpenAI"
print(word)

OpenAI

In [41]:
len(word)

6

# Lower Case:

In [20]:
my_string.lower()

'my name is muqaddas'

# Upper Case:

In [42]:
word="OpenAI"
print(word.upper())

OPENAI

In [21]:
my_string.upper()

'MY NAME IS MUQADDAS'

# Replacing a Substring:

In [26]:
my_string.replace('Muqaddas', 'JENIFER')

'My name is JENIFER'

In [51]:
sentence='old house, old car'
print(sentence)

old house, old car

In [52]:
print(sentence.replace('old', 'new'))

new house, new car

# Count:

In [27]:
my_string.count('d')

2

In [29]:
my_string.count('Muqaddas')

1

# Finding index of substring:

In [32]:
s1='This is sparta!!!'
s1.find('p')

9

In [53]:
word="OpenAI"
print(word.find('AI'))

4

# Splitting a string:

In [39]:
fruit='I like apples, oranges and bananas.'
fruit.split(',')
print(fruit)

I like apples, oranges and bananas.

In [47]:
fruits="Apple Banana Orange"
print(fruits.split(' '))

['Apple', 'Banana', 'Orange']

# Join:

In [54]:
words = ["Hello", "World"]
result = " ".join(words)
print(result)

Hello World

In [55]:
names=['jenifer', 'katherine']
result=" ".join(names)
print(result)

jenifer katherine