# <center> DATA STRUCTURES IN PYTHON </CENTER>
Four types of data structures are used in python. These are:
1. Tuple
2. List
3. Sets
4. Dictionaries

# <center>Tuples<center>
Ordered collection of elements enclosed with (). These are immutable.

In [1]:
tup1=(1, 'a', True)
print(tup1)

(1, 'a', True)

In [2]:
type(tup1)

tuple

# Extracting Individual Elements:

In [3]:
tup1=(1, 'a', True, 2, 'b', False)
tup1[0]

1

In [4]:
tup1[-1]

False

In [5]:
tup1[1:4]

('a', True, 2)

# Modifying a Tuple:
It cannot be modified because it is immutable.

In [6]:
tup1[2]='hello'

TypeError: 'tuple' object does not support item assignment

In [8]:
tup1[6]='Python'
print(tup1)

TypeError: 'tuple' object does not support item assignment

# <center>Basic Operations in Tuples <center>

# Length:

In [9]:
len(tup1)

6

# Concatenation:

In [10]:
tup1=(1, 2, 3)
tup2=(4, 5, 6)
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [11]:
tup2+tup1

(4, 5, 6, 1, 2, 3)

# Repeating Tuple Elements:

In [12]:
tup1=('Sparta', 300)
tup1*3

('Sparta', 300, 'Sparta', 300, 'Sparta', 300)

In [15]:
tup1=(1, True, 3.34)

In [16]:
tup1*3

(1, True, 3.34, 1, True, 3.34, 1, True, 3.34)

In [18]:
tup2=("a", "b", "c")
tup2*5

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

# Repeating and Concatenating:

In [13]:
tup1=('Sparta', 300)
tup2=(4, 5, 6)
tup1*3+tup2

('Sparta', 300, 'Sparta', 300, 'Sparta', 300, 4, 5, 6)

In [20]:
tup1=(1, True, 3.34)
tup2=("a", "b", "c")
tup1+tup2

(1, True, 3.34, 'a', 'b', 'c')

In [21]:
tup1*2 + tup2*2

(1, True, 3.34, 1, True, 3.34, 'a', 'b', 'c', 'a', 'b', 'c')

# <center> LIST  </CENTER>
Lists are ordered collection of elements and are mutable enclosed within []. Different types of functions are used for different types of purposes.

In [22]:
l1=['Sparta', 3.34, True, 2+3j]
l1

['Sparta', 3.34, True, (2+3j)]

In [23]:
type(l1)

list

# Extracting Individual Elements:

In [24]:
l1=['a', 2, 'b', 3, 'c']
l1[1]

2

In [26]:
l1[2:5] # Substring

['b', 3, 'c']

# Modifying a list:

In [28]:
l1[0]=100
l1

[100, 2, 'b', 3, 'c']

# Popping the last element:

In [29]:
l1.pop()

'c'

In [30]:
l1

[100, 2, 'b', 3]

# Appending a new element:

In [32]:
l1.append('Sparta')
l1

[100, 2, 'b', 3, 'Sparta']

In [33]:
l1.append('Hello, Python')

In [34]:
l1

[100, 2, 'b', 3, 'Sparta', 'Hello, Python']

# Reverse:

In [1]:
l1=[1, 'a', 2, 'b', 3, 'c']
l1.reverse()
l1

['c', 3, 'b', 2, 'a', 1]

# Sorting:

In [2]:
l1=['mango', 'banana', 'guava', 'apple']
l1.sort()
l1

['apple', 'banana', 'guava', 'mango']

# Inserting element at a specific index/position:

In [3]:
l1=[1, 'a', 2, 'b', 3, 'c']
l1.insert(1, 'sparta')
l1

[1, 'sparta', 'a', 2, 'b', 3, 'c']

# Concatenation:

In [4]:
l1=[1, 2, 3, 4, 5]
l2=[5, 4, 3, 2, 1]
l1+l2

[1, 2, 3, 4, 5, 5, 4, 3, 2, 1]

In [5]:
l2+l1

[5, 4, 3, 2, 1, 1, 2, 3, 4, 5]

# Repeating elements:

In [6]:
l1*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# <center> DICTIONARIES </center>
An unordered collection of key-value pairs enclosed with {}. It is mutable.

In [7]:
fruit={'Apple':10, 'Orange':20}

In [8]:
fruit

{'Apple': 10, 'Orange': 20}

In [9]:
type(fruit)

dict

# Extracting keys and values:

In [10]:
fruit={'Apple':10, 'Orange':20, 'Banana':30, 'Guavea':40}
fruit.keys()

dict_keys(['Apple', 'Orange', 'Banana', 'Guavea'])

In [11]:
fruit.values()

dict_values([10, 20, 30, 40])

In [12]:
fruit.items()

dict_items([('Apple', 10), ('Orange', 20), ('Banana', 30), ('Guavea', 40)])

# <center> MODIFYING A DICTIONARY </CENTER>

# Adding a new element:

In [13]:
fruit['Mango']=50
fruit

{'Apple': 10, 'Orange': 20, 'Banana': 30, 'Guavea': 40, 'Mango': 50}

# Changing an existing element:

In [14]:
fruit['Apple']=100
fruit

{'Apple': 100, 'Orange': 20, 'Banana': 30, 'Guavea': 40, 'Mango': 50}

# <center> FUNCTIONS </CENTER>

# Update one dictionary element with another:

In [15]:
fruit1={'Apple':10, 'Orange':20}
fruit2={"Banana":30, "Guava":40}
fruit1.update(fruit2)
fruit1

{'Apple': 10, 'Orange': 20, 'Banana': 30, 'Guava': 40}

# Popping an element:

In [16]:
fruit={"Apple":10, "Orange":20, "Banana":30, "Guava":40}
fruit.pop("Orange")
fruit

{'Apple': 10, 'Banana': 30, 'Guava': 40}

# <center> SETS </center>
It is an unordered and unindexed collection of elements enclosed within {}. Duplicates are not allowed inside the sets.

In [17]:
s1={1, 'Sparta', 1}
s1

{1, 'Sparta'}

In [18]:
type(s1)

set

# <center> SET OPERATIONS </center>

# Adding a new element:

In [19]:
s1={1, 'a', True, 2, 'b', False}
s1.add("Hello")
s1

{1, 2, False, 'Hello', 'a', 'b'}

# Removing an element:

In [20]:
s1.remove("b")
s1

{1, 2, False, 'Hello', 'a'}

# Updating multiple elements:

In [21]:
s1.update([10, 20, 30])
s1

{1, 10, 2, 20, 30, False, 'Hello', 'a'}

# <center > SET FUNCTIONS </CENTER>

# Union:

In [22]:
s1={1, 2, 3}
s2={'a', 'b', 'c'}
s1.union(s2)

{1, 2, 3, 'a', 'b', 'c'}

# Intersection:

In [24]:
s1={1, 2, 3, 4, 5, 6}
s2={5, 6, 7, 8, 9}
s1.intersection(s2)

{5, 6}

# <center> PRACTICE QUESTIONS </center>

# Remove Duplicates:

In [25]:
original_list=[1, 2, 3, 4, 5, 6, 2, 3, 7, 1, 9, 8]
print(original_list)

[1, 2, 3, 4, 5, 6, 2, 3, 7, 1, 9, 8]

In [27]:
new_list=set(original_list)

In [28]:
new_list

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [31]:
#   Create two sets  one containing even numbers and 
# the other containing odd numbers from the list using python.

In [32]:
list1=[2, 4, 6, 8, 10]
list2=[1, 3, 5, 7, 9]

In [33]:
new_list1=set(list1)

In [34]:
new_list1

{2, 4, 6, 8, 10}

In [35]:
new_list2=set(list2)

In [36]:
new_list2

{1, 3, 5, 7, 9}

In [37]:
# Calculate and print the sum, average, minimum, and maximum 
# of the input numbers using python.

In [38]:
num1=int(input('Enter the first number:'))
num2=int(input('Enter the second number:'))

Enter the first number:2
Enter the second number:5

In [39]:
sum=num1+num2

In [40]:
sum

7

In [41]:
average=(num1+num2)/2
average

3.5

In [42]:
minimum=min(num1, num2)

In [43]:
minimum

2

In [45]:
maximum=max(num1, num2)
maximum

5