# <center> OBJECT ORIENTED PROGRAMMING </center>
A class is a template/blue print for real world entities. It is a user-defined data type. Object is the specific instance of the class. The object oriented programming concepts includes:
1. Object
2. Class
3. Abstraction
4. Encapsulation
5. Inheritance
6. Polymorphism

# <center> CLASS </CENTER>
It is a blueprint. A class consist of two things:
1. Data or Property
2. Functions or Behaviour

In [1]:
class Phone:
    # Methods
    def make_call(self):
        print('Making phone call')
    def play_game(self):
        print('Playing Game')

In [3]:
p1=Phone()

In [4]:
p1.make_call()
p1.play_game()

Making phone call
Playing Game

# Adding Parameters to a Class Method:

In [11]:
class Phone:
    def set_color(self, color):
        self.color=color
    def set_cost(self, cost):
        self.cost=cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    def make_call(self):
        print('Making phone call')
    def play_game(self):
        print('Playing Game')

In [13]:
p2=Phone()

In [14]:
p2.set_color('black')
p2.set_cost(500)

In [15]:
p2.show_color()

'black'

In [16]:
p2.show_cost()

500

In [17]:
p2.make_call()
p2.play_game()

Making phone call
Playing Game

# Creating a Class with Constructors:

In [18]:
class Employee:
    def __init__(self, name, age, salary, gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
    def employee_details(self):
        print('Name of employee is', self.name)
        print('Age of employee is', self.age)
        print('salary of employee is', self.salary)
        print('Gender of employee is', self.gender)

In [19]:
# Instantiating Object
e1=Employee('Sam', 32, 85000, 'Male')

In [20]:
e1.employee_details()

Name of employee is Sam
Age of employee is 32
salary of employee is 85000
Gender of employee is Male

# Inheritance:
With inheritance one class can derive the properties of another class.

In [21]:
class Vehicle: # Base class
    def __init__(self, mileage, cost):
        self.mileage=mileage
        self.cost=cost
        
    def show_details(self):
        print('I am a vehicle')
        print('MileAge of vehicle is', self.mileage)
        print('Cost of vehicle is', self.cost)

In [22]:
v1=Vehicle(500, 500)
v1.show_details()

I am a vehicle
MileAge of vehicle is 500
Cost of vehicle is 500

In [23]:
class Car(Vehicle): # child class
    def show_car(self): # child method
        print('I am a car')

In [24]:
c1=Car(200, 1200)

In [25]:
c1.show_details()

I am a vehicle
MileAge of vehicle is 200
Cost of vehicle is 1200

In [26]:
c1.show_car()

I am a car

# Over-riding init method:

In [28]:
class Car(Vehicle):
    def __init__(self, mileage, cost, tyres, hp):
        super().__init__(mileage, cost)
        self.tyres=tyres
        self.hp=hp
    def show_car_details(self):
        print('I am a car')
        print('Number of tyres are', self.tyres)
        print('Value of horse power is', self.hp)

In [29]:
c1=Car(20, 1200, 4, 300)

In [30]:
c1.show_details()

I am a vehicle
MileAge of vehicle is 20
Cost of vehicle is 1200

In [31]:
c1.show_car_details()

I am a car
Number of tyres are 4
Value of horse power is 300

# <center> TYPES OF INHERITANCE </CENTER>

# Multiple Inheritance:

In [32]:
class Parent1():
    def assign_string_one(self, str1):
        self.str1=str1
    def show_String_one(self):
        return self.str1

In [33]:
class Parent2():
    def assign_string_two(self, str2):
        self.str2=str2
    def show_String_two(self):
        return self.str2

In [34]:
class Derived(Parent1, Parent2):
    def assign_string_three(self, str3):
        self.str3=str3
    def show_string_three(self):
        return self.str3

In [35]:
d1=Derived()

In [41]:
d1.assign_string_one('one')
d1.assign_string_two('two')
d1.assign_string_three('three')

In [42]:
d1.show_String_one()

'one'

In [43]:
print(d1.show_String_two())
print(d1.show_string_three())

two
three

# Multi-Level Inheritance:

In [44]:
class Parent():
    def assign_name(self, name):
        self.name=name
    def show_name(self):
        return self.name
class Child(Parent):
    def assign_age(self, age):
        self.age=age
    def show_age(self):
        return self.age
class GrandChild(Child):
    def assign_gender(self, gender):
        self.gender=gender
    def show_gender(self):
        return self.gender

In [45]:
g1=GrandChild()

In [46]:
g1.assign_name('Katherine')
g1.assign_age(20)
g1.assign_gender('Female')

In [1]:
print(g1.show_name())
print(g1.show_age())
print(g1.show_gender())

NameError: name 'g1' is not defined

In [2]:
class Person:
    def __init__(self, name, age, gender, cnic, address):
        self.name=name
        self.age=age
        self.gender=gender
        self.cnic=cnic
        self.address=address
    def show_details(self):
        print('Name:', self.name)
        print('Age:', self.age)
        print('Gender:', self.gender)
        print('CNIC:', self.cnic)
        print('Address:', self.address)

In [4]:
p=Person('Katherine', 20, 'Female', 3520259005020, 'LDA, Lahore')

In [5]:
p.show_details()

Name: Katherine
Age: 20
Gender: Female
CNIC: 3520259005020
Address: LDA, Lahore