# <center> LOADING DATA WITH PANDAS </center>

In [1]:
import pandas as pd

In [4]:
df=pd.DataFrame({'a':[11, 21, 31], 'b':[21, 22, 23]})

In [5]:
print(df)

    a   b
0  11  21
1  21  22
2  31  23

In [6]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [7]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

In [9]:
df['b']

0    21
1    22
2    23
Name: b, dtype: int64

In [10]:
import pandas as pd

In [11]:
df=pd.DataFrame({'a':[1, 2, 1], 'b':[1, 1, 1]})

In [12]:
print(df)

   a  b
0  1  1
1  2  1
2  1  1

In [13]:
df['a'].unique()

array([1, 2], dtype=int64)

In [14]:
df['a']<2

0     True
1    False
2     True
Name: a, dtype: bool

In [15]:
df[df['a']<2]

   a  b
0  1  1
2  1  1

In [17]:
df=pd.DataFrame({'Artist':['Michael Jackson', 'AC/DC', 'Pink Floyd', 'Whitney Houston', 'Meat Loaf', 'Eagles','Bee Gees', 'Fleetwood Mac'],
             'Album':['Thriller', 'Back in Black', 'The Dark side of the Moon', 'The Bodyguard', 'Bat out of hell', "Their Greatest Hits (1971-1975)", 'Saturday Night Fever', 'Rumours'],
             'Released':[1982, 1980, 1973, 1992, 1977, 1976, 1977, 1977],
             'Length':["00:42:19", "00:42:11", "00:42:49", "00:57:44", "00:46:33", "00:43:08", "1:15:54", "00:40:01"],
             'Genre':['Pop, rock, R&B', 'Hard rock', 'Progressive rock', 'Soundtrack/R&B, soul, pop', 'Hard rock, Progressive rock', 'Rock, soft rock, folk rock', 'Disco', 'Soft rock'],
             "Music Recoding Sales(millions)":[46, 24.1, 24.2, 26.1, 20.6, 32.2, 20.6, 27.9],
             "Claimed Sales (millions)":[65, 50, 45, 50, 43, 42, 40, 40],
             "Released Sountracks":["30-Nov-82", "25-Jul-80", "01-Mar-73", "25-Jul-80  Y", "21-Oct-77", "17-Feb-76", "15-Nov-77  Y", "04-Feb-77"],
             "Rating(friends)":[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]})

In [18]:
df

,Artist,Album,Released,Length,Genre,Music Recoding Sales(millions),Claimed Sales (millions),Released Sountracks,Rating(friends)
0,Michael Jackson,Thriller,1982,00:42:19,"Pop, rock, R&B",46.0,65,30-Nov-82,10.0
1,AC/DC,Back in Black,1980,00:42:11,Hard rock,24.1,50,25-Jul-80,8.5
2,Pink Floyd,The Dark side of the Moon,1973,00:42:49,Progressive rock,24.2,45,01-Mar-73,9.5
3,Whitney Houston,The Bodyguard,1992,00:57:44,"Soundtrack/R&B, soul, pop",26.1,50,25-Jul-80 Y,7.0
4,Meat Loaf,Bat out of hell,1977,00:46:33,"Hard rock, Progressive rock",20.6,43,21-Oct-77,7.0
5,Eagles,Their Greatest Hits (1971-1975),1976,00:43:08,"Rock, soft rock, folk rock",32.2,42,17-Feb-76,9.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,Disco,20.6,40,15-Nov-77 Y,9.0
7,Fleetwood Mac,Rumours,1977,00:40:01,Soft rock,27.9,40,04-Feb-77,9.5

In [19]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recoding Sales(millions),Claimed Sales (millions),Released Sountracks,Rating(friends)
0,Michael Jackson,Thriller,1982,00:42:19,"Pop, rock, R&B",46.0,65,30-Nov-82,10.0
1,AC/DC,Back in Black,1980,00:42:11,Hard rock,24.1,50,25-Jul-80,8.5
2,Pink Floyd,The Dark side of the Moon,1973,00:42:49,Progressive rock,24.2,45,01-Mar-73,9.5
3,Whitney Houston,The Bodyguard,1992,00:57:44,"Soundtrack/R&B, soul, pop",26.1,50,25-Jul-80 Y,7.0
4,Meat Loaf,Bat out of hell,1977,00:46:33,"Hard rock, Progressive rock",20.6,43,21-Oct-77,7.0

In [20]:
df.tail()

,Artist,Album,Released,Length,Genre,Music Recoding Sales(millions),Claimed Sales (millions),Released Sountracks,Rating(friends)
3,Whitney Houston,The Bodyguard,1992,00:57:44,"Soundtrack/R&B, soul, pop",26.1,50,25-Jul-80 Y,7.0
4,Meat Loaf,Bat out of hell,1977,00:46:33,"Hard rock, Progressive rock",20.6,43,21-Oct-77,7.0
5,Eagles,Their Greatest Hits (1971-1975),1976,00:43:08,"Rock, soft rock, folk rock",32.2,42,17-Feb-76,9.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,Disco,20.6,40,15-Nov-77 Y,9.0
7,Fleetwood Mac,Rumours,1977,00:40:01,Soft rock,27.9,40,04-Feb-77,9.5

In [21]:
df.shape

(8, 9)

In [24]:
x=df[['Length']]

In [25]:
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6   1:15:54
7  00:40:01

In [26]:
x=df['Length']

In [27]:
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6     1:15:54
7    00:40:01
Name: Length, dtype: object

In [28]:
x=df[['Artist']]

In [29]:
x

            Artist
0  Michael Jackson
1            AC/DC
2       Pink Floyd
3  Whitney Houston
4        Meat Loaf
5           Eagles
6         Bee Gees
7    Fleetwood Mac

In [30]:
type(x)

pandas.core.frame.DataFrame

In [31]:
y=df[['Artist', 'Length', 'Genre']]

In [32]:
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               Pop, rock, R&B
1            AC/DC  00:42:11                    Hard rock
2       Pink Floyd  00:42:49             Progressive rock
3  Whitney Houston  00:57:44    Soundtrack/R&B, soul, pop
4        Meat Loaf  00:46:33  Hard rock, Progressive rock
5           Eagles  00:43:08   Rock, soft rock, folk rock
6         Bee Gees   1:15:54                        Disco
7    Fleetwood Mac  00:40:01                    Soft rock

In [34]:
df.iloc[0, 0]

'Michael Jackson'

In [35]:
df.iloc[1, 0]

'AC/DC'

In [36]:
df.iloc[2, 5]

24.2

In [37]:
df.iloc[1, 2]

1980

In [38]:
df.iloc[0, 2]

1982

In [39]:
df.iloc[2, 0]

'Pink Floyd'

In [40]:
df.loc[1, 'Artist']

'AC/DC'

In [41]:
df.loc[0, 'Released']

1982

In [42]:
df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [43]:
df.iloc[0:2]

,Artist,Album,Released,Length,Genre,Music Recoding Sales(millions),Claimed Sales (millions),Released Sountracks,Rating(friends)
0,Michael Jackson,Thriller,1982,00:42:19,"Pop, rock, R&B",46.0,65,30-Nov-82,10.0
1,AC/DC,Back in Black,1980,00:42:11,Hard rock,24.1,50,25-Jul-80,8.5

In [46]:
df.loc[0:2, 'Artist': 'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark side of the Moon      1973

In [48]:
q=df[['Rating(friends)']]

In [49]:
q

   Rating(friends)
0             10.0
1              8.5
2              9.5
3              7.0
4              7.0
5              9.5
6              9.0
7              9.5

In [55]:
q=df[["Released",'Artist']]

In [56]:
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [58]:
df.iloc[1, 2]

1980

In [59]:
new_index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [60]:
new_index

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [62]:
df_new=df

In [63]:
df_new.index=new_index

In [64]:
df_new.loc['a', 'Artist']

'Michael Jackson'

In [65]:
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

In [66]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [67]:
df.head()

    a   b
0  11  21
1  21  22
2  31  23